/*------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------*/
body {

    overflow-x: hidden !important;  
    overflow-y: scroll;                 
  	font-family: 'Open Sans', sans-serif;
  	font-size: .95em;
    font-weight: 400;
    line-height: 23px;
    color: #131e60;
    background-color: #fff;
}

aside{

    font-size: .9em;

}

p {
    font-family: "Open Sans", sans-serif;
    line-height: 2em;
    font-size: 1em;

    }


h1 span {
	display: none;
  color: #002e43;
  font-size:0.8em;
}

h2{
  letter-spacing: 10px;
}
h2, h3{
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 5px #eee, 0 0 5px #eee, 0 0 5px #eee;
    text-align: center;
}

h2, h3, h4{

    line-height: 2.5em;

}


h2 {
    font-size: 2.4em;
    
}

h3 {
    font-size: 1.3em;
    letter-spacing: 4.8px;
}



h4 {
    font-size: 1.1em;
    letter-spacing: 2.6px;
    
}


.padding-section {
    padding: 60px;
    
}


.boton {
    
  display: inline-block;
  padding: 10px 30px 10px 30px;
  transition: all 1s cubic-bezier(.33,.62,.38,.97);
  color: #131e60; 
  text-align:center;
  margin: 10px;
  overflow:hidden;   
  border: 3px solid rgba(0,46,67,.1);
  background:#fff;
}

/*------------------------------------------------------
HERO
------------------------------------------------------*/


.barras {
        display: none;
        cursor: pointer;
        position: fixed;
        top: 0px;
        right: 20px;
        font-size: 3em;
        text-shadow: 0 0 7px #eee, 0 0 7px #eee, 0 0 7px #eee;
  }

 nav{
  	width: 100%;
  	height: 100px;
    background: rgba(255,255,255,.99);	
    letter-spacing: 2px;
    top: 0;
    left:0;
    transition: all .5s;
    position: fixed;
    z-index:2;
      }

 nav img {
	   height: 35px;
    margin-left: 15px;
    margin-top: 0px;
}

 nav ul {
  	float: right;
  	margin-right: 20px;
}


 nav li {
  	display: inline-block;	
    list-style: none;

}


nav a {
	   color:#131e60;
    text-shadow: 0 0 2px #eee, 0 0 2px #eee, 0 0 2px #eee;
    line-height: 60px;
    padding: 10px 10px;
    display: block;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration:none;
}

/*.hero{

  background: url("../img/logoamarillo.png") no-repeat fixed center / cover;
  height: 100vh;
  position: relative;

  }   

.hero::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.96);

  }*/

/*------------------------------------------------------
INICIO
------------------------------------------------------*/
#inicio {

	text-align:center;
}

/*#inicio li span{
    font-family: "Dosis", sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.5em;
    font-weight:700;

  }*/


#inicio ul{

  list-style: none;
  padding: 0;
  margin: 0;
}


.paddingExtra{

  padding:80px;

}

 #inicio img {
     height: 150px;

}

/*------------------------------------------------------
SERVICIOS
------------------------------------------------------*/

/*amarillo #e8dd00  232,221,0 
 azul claro #002e43 
 azul oscuro #131e60 19,30,96*/
#servicios .wrapper{
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  grid-gap:1em;
  grid-auto-rows:minmax(100px, auto);

}

#servicios .nested{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap:1em;
  grid-auto-rows:minmax(100px, auto);
}



 #servicios{

    background: rgba(19,30,96,.75);
 }

 #servicios h2{
  text-shadow: 0 0 3px #eee, 0 0 3px #eee, 0 0 3px #eee;
  text-align:center;
 }

.boton.azul {
  background: rgba(19,30,96,.9);
  color:#eee; 
  border: 3px solid rgba(0,46,67,0.9);
}

.boton:hover {
  background-color: #eee;
  border: 3px solid rgba(0,46,67,.9);
  color: #131e60;
}

.boton.amarillo:hover { 
  background-color: rgba(232,221,0); /*amarillo*/
  color:#131e60;
  text-decoration: none;
  border: 3px solid #eee;
}

/*------------------------------------------------------
OPTOMETRIA
------------------------------------------------------*/  

#optometria{

        width: 600px;
        margin: auto;
        line-height: 24px;
        font-size: 1em;
        background-color: rgba(255,255,255,.7);
        padding: 50px;
      }

#optometria h2{

  font-size: 2em;
  line-height: 2em;
}
.bg,.bg2,.bg1 {
        background: url('../img/foto_consulta1.jpg');
        background-size: cover;
        position: fixed;
        width: 150%;
        height: 100%;
        bottom:0;
        left:0;
        z-index: -1;
      }


.bg1 {
        background: url('../img/nubes.png');
        width: 300%;
        top: 0;
        right: 0;
        left: auto;
      }

  .bg2 {
        background: url('../img/nubes2.png');
        width: 300%;
        top: 0;
        right: 0;
        left: auto;
      }

  .bg3 {
        background: url('../img/logoamarilloletra.png') no-repeat center / contain;
        position: fixed;
        width: 200px;
        height: 400px;
        bottom: 0;
        right:50px;
        z-index: -1;
      }



/*------------------------------------------------------
CENTRO
------------------------------------------------------*/
#centro .wrapper{
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  grid-gap:1em;
  grid-auto-rows:minmax(100px, auto);

}

#centro .nested{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap:1em;
  grid-auto-rows:minmax(100px, auto);
  padding:30px;
  text-align:center;

}


#centro h2{
 text-shadow: 0 0 4px #eee, 0 0 4px #eee, 0 0 4px #eee;
 text-align:center;
}

#centro ul{

  display: inline-block;
  text-align: left;
  line-height: 50px;
  padding-bottom:50px;

}

#centro li{

  list-style: none;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

/*------------------------------------------------------
PROFESIONALES
------------------------------------------------------*/
#profesionales .wrapper{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap:2.5em;
  grid-auto-rows: minmax(100px, auto);
  text-align:center;
  text-align:justify;
  
}

#profesionales{
  background:rgba(232,221,0,.6) ;
}

/*------------------------------------------------------
CONTACTO
------------------------------------------------------*/


#contacto iframe {

  float: left;
  margin: 25px auto 15px auto;
  display: block;
  width: 100%;
    
  }

#contacto article .devider {
  width: 85%;
  margin: 15px 5%;
  border-bottom: 1px solid rgba(0,46,67,.2);
}


#contacto article ul{

  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}




/*------------------------------------------------------
FOOTER
------------------------------------------------------*/
footer a {
  color: #002e43;
}

footer img{

  width: 70px;
  float: none;
  margin: 20px auto;
  display: block;
}

footer small p{

  line-height: .5em;
}

footer{
  background: rgba(255,255,255);
}



@media screen and (max-width: 800px) {

  .barras {
    display: block;
    z-index: 3;
    padding:25px;
  }

  .barras p{

    font-size: .2em;
  }

  h2 {
    font-size: 1.5em;
    
  }

  h3{

    font-size: 1em;
  }

  h4{

    font-size: .9em;
  }

  p{font-size: .8em;

  }

   nav {
    width: 200px;
    height: 100vh;
    border-right: 1px solid #999;
    transition: all .5s;
    transform: translateY(-100%);
    background:#fff;

  }

  nav a{
    
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    margin: 10px 0;
    display: block;
    text-align: center;
    border-bottom: 1px dashed rgba(0,0,0,.05);
    line-height:20px;
  }

  nav img{
    display: block;
    margin: 10px auto 0;
  }

  nav li:last-of-type a{
    border:none;
  }

  nav.abierto {
    transform: translateY(0);
    z-index:400;
    
  }

  nav ul {
    float: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: block;
    list-style: none;
    text-align: center;
    width: 190px;
  }

 #inicio img {
     height: 50px;

}

  #inicio h1 span{
    font-size: 1em;
  }

  #inicio li span{
    font-family: "Dosis", sans-serif;
    font-size: 3em;

  }

  #inicio h2{
    font-size: 1em;
  }

  #inicio h3{
    font-size: .8em;
  }

  #inicio h4{
    font-size: .7em;
  }


  .padding-section {
    padding: 60px 6px;
    
  }

  .paddingExtra{
    padding: 0px;
  }


  iframe{

    float: none;
    margin: 5px auto;
    width: 70%;
    height:70%;
    
  }


#servicios .wrapper{

  grid-auto-rows:minmax(50px, auto);

}

#servicios .nested{
 
  grid-template-columns:repeat(1, 1fr);
  grid-auto-rows:minmax(50px, auto);
}


#optometria{

        width:auto;

  }   
  

#centro .nested{
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  grid-gap:1em;
  grid-auto-rows:minmax(100px, auto);
}


#profesionales .wrapper{
  grid-template-columns:repeat(1, 1fr);


}

  #avisolegal.padding-section {
    padding: 20px;  
  }

  #avisolegal h1 {
    font-size: 20px;  
  }


}


/*color amarillo #e8dd00/  232,221,0*
/* color azul claro #002e43/*
/* azul oscuro #131e60/*  19,30,96

fff= 255,255,255