/*------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------*/
body {

    overflow-x: hidden !important;  
    overflow-y: scroll;                 
  	font-family: 'Open Sans', sans-serif;
  	font-size: .95em;
    font-weight: 400;
    line-height: 23px;
    color: #131e60;
    background-color: #eee;
}

aside{

    font-size: .9em;

}

p {
    font-family: "Open Sans", sans-serif;
    line-height: 2em;
    font-size: 1em;

    }


h1 span {
	display: none;
  color: #002e43;
  font-size:0.95em;
}

h2, h3{
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    letter-spacing:10px;
}


h2 {
    font-size: 2em;
    font-weight: 600;
    line-height: 4em;
}

h3 {
    font-size: 1em;
    letter-spacing: 6px;
    text-align: center;
    line-height: 1.8em;
    font-weight: 700;

}

h4 {
    font-size: 1.1em;
    letter-spacing: 5px;
    text-align: left;
}


.padding-section {
    padding: 60px;
    
}


/*------------------------------------------------------
HERO
------------------------------------------------------*/
.hero{

  background: url("../img/bg_gafa.jpg") no-repeat fixed center top / cover;
  height: 100vh;
  position: relative;

  }   

.hero::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);

  }

.barras {
        display: none;
        cursor: pointer;
        position: fixed;
        top: 0px;
        right: 20px;
        font-size: 3em;
        text-shadow: 0 0 7px #eee, 0 0 7px #eee, 0 0 7px #eee;
  }

 nav{
  	width: 100%;
  	height: 100px;
    background: rgba(137, 143,177,.2);	
    letter-spacing: 2px;
    top: 0;
    left:0;
    transition: all .5s;
    position: fixed;
    z-index:400;

  }

 nav img {
	   height: 60px;
    margin-left: 15px;
    margin-top: 0px;


}

 nav ul {
  	float: right;
  	margin-right: 20px;
}


 nav li {
  	display: inline-block;	
    list-style: none;

}


nav a {
	color:#131e60;
    line-height: 60px;
    padding: 10px 10px;
    display: block;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration:none;
}


/*------------------------------------------------------
INICIO
------------------------------------------------------*/
#inicio {

	text-align:center;
}


.paddingExtra{

	padding:120px;

}

#inicio span{
    font-family: "Dosis", sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.7em;
    font-weight:700;
    color: #131e60;
    text-shadow: 0 0 6px #fdfce8, 0 0 6px #fdfce8, 0 0 6px #fdfce8;
  }


#inicio ul{

  list-style: none;
}




/*------------------------------------------------------
CENTRO
------------------------------------------------------*/

#centro ul{

  display: inline-block;
  text-align: left;
  line-height: 50px;
  color: #131e60;
  padding-bottom:50px;

}

#centro li{

  list-style: none;
  font-size: 17px;
}

#centro.asimetrico {
  color: #131e60;
  padding: 60px 0;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 1;

}

.asimetrico:before, .asimetrico:after {
  background: inherit;
  content: '';
  height: 50%;
  width: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  visibility: hidden;
}
.asimetrico:before {
  top: 0;
  transform: skewY(-4deg);
  transform-origin: 100% 0;
}
 
.asimetrico:after {
  bottom: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
}


/*------------------------------------------------------
SERVICIOS
------------------------------------------------------*/

#servicios{

  background-color: #fff;
}

#servicios [class^="flaticon-"]::before {
  color: #007db6;
  font-size: 3em !important;
  text-align: center;
  padding-bottom:15px;
  display: block;
  line-height: 1em;

}

.boton {
    
  display: inline-block;
  padding: 10px 30px 10px 30px;
  transition: all 1s cubic-bezier(.33,.62,.38,.97);
  color: #002e43; 
  text-align:center;
  margin-top: 10px;
  overflow:hidden;   
  border: 2px solid rgba(0,46,67,.1)
}
    

.boton.naranja {
  background: rgba(0,46,67,0.3);
  color:#131e60;
  border: 3px solid rgba(0,46,67,0.5);
}

.boton:hover {
  background-color: rgba(59, 89, 152);
  padding: 50px auto;
  border: 3px solid rgba(0,46,67,.5);
}

.boton.naranja:hover { 
  background: orange;
  color:#131e60;
  padding: 20px 50px 20px 50px;
  text-decoration: none;
  border: 3px solid rgba(137, 143,177);
}

/*para hacerlo visible:*/
#servicios .boton {
  opacity: 0;
  padding:  50px auto;
  transition: all .7s;
}

#servicios .boton.visible {
  opacity: 1;
  padding: 40px auto;
    
}


.fondoModal {

    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #898fb1;
    display: none;
    color: #eee;
    z-index:999;
  }

.contenidoModal {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url('src/logo.png') no-repeat center / cover;
    display: none;
  }
    

#servicios .container {
    width: 1000px;
    height:500px;
  }

#servicios .box {          
    text-align: center;
    width: 50%;
    float: left;
    box-sizing: border-box;
  } 

.clear{
    clear:both;
  }

/*------------------------------------------------------
CONTACTO
------------------------------------------------------*/
#contacto{
  background-color: #fff;

}

iframe{

  float: left;
  margin: 25px auto 15px auto;
  display: block;
  width: 100%;
    
  }

#contacto article .devider {
  width: 85%;
  margin: 35px 5%;
  border-bottom: 1px solid rgba(0,46,67,.2);
}


#contacto article ul{

  display: inline-block;
  list-style: none;
}




/*------------------------------------------------------
FOOTER
------------------------------------------------------*/
footer a {
  color: #002e43;
}

footer img{

  width: 70px;
  float: none;
  margin: 20px auto;
  display: block;
}

footer small p{

  line-height: .5em;
}

footer{
  background: rgba(137, 143,177,.2);
}


/*
898fb1 azul pupila
fdfce8 amarillo ojo
131e60 azul letras